.theme-switcher-wrapper {
  button {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    svg {
      color: black;
    }
  }
}
.dark {
  .theme-switcher-wrapper {
    button {
      svg {
        color: #bbbbbb;
      }
    }
  }
}
